artifacts/**/*.fem-reference.json filter=lfs diff=lfs merge=lfs -text
artifacts/**/*.fem-reference.viewer.json filter=lfs diff=lfs merge=lfs -text
artifacts/**/*.json.arrays.npz filter=lfs diff=lfs merge=lfs -text
